USE [swj]
GO
/****** Object:  Table [dbo].[goods]    Script Date: 12/28/2017 20:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goods](
	[gid] [int] NOT NULL,
	[gname] [nvarchar](10) NULL,
	[unit] [nvarchar](5) NULL,
	[spec] [nvarchar](10) NULL,
	[price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_goods] PRIMARY KEY CLUSTERED 
(
	[gid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[goods] ([gid], [gname], [unit], [spec], [price]) VALUES (1, N'饼干', N'包', N'好吃点', CAST(12.90 AS Decimal(10, 2)))
INSERT [dbo].[goods] ([gid], [gname], [unit], [spec], [price]) VALUES (2, N'饼干', N'包', N'奥利奥', CAST(21.60 AS Decimal(10, 2)))
INSERT [dbo].[goods] ([gid], [gname], [unit], [spec], [price]) VALUES (3, N'山楂片', N'包', N'800g', CAST(5.40 AS Decimal(10, 2)))
/****** Object:  Table [dbo].[dept]    Script Date: 12/28/2017 20:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dept](
	[deptno] [int] NOT NULL,
	[dname] [nvarchar](10) NULL,
 CONSTRAINT [PK_dept] PRIMARY KEY CLUSTERED 
(
	[deptno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dept] ([deptno], [dname]) VALUES (10, N'财务部')
INSERT [dbo].[dept] ([deptno], [dname]) VALUES (20, N'生产部')
INSERT [dbo].[dept] ([deptno], [dname]) VALUES (30, N'设备部')
/****** Object:  Table [dbo].[outdetail]    Script Date: 12/28/2017 20:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[outdetail](
	[outid] [int] NOT NULL,
	[gid] [int] NULL,
	[outamt] [int] NULL,
	[month] [nvarchar](10) NULL,
	[deptno] [int] NULL,
 CONSTRAINT [PK_outdetail] PRIMARY KEY CLUSTERED 
(
	[outid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[outdetail] ([outid], [gid], [outamt], [month], [deptno]) VALUES (1, 1, 5, N'2017年5月', 10)
INSERT [dbo].[outdetail] ([outid], [gid], [outamt], [month], [deptno]) VALUES (2, 1, 8, N'2017年5月', 10)
INSERT [dbo].[outdetail] ([outid], [gid], [outamt], [month], [deptno]) VALUES (3, 1, 16, N'2017年6月', 10)
/****** Object:  Table [dbo].[indetail]    Script Date: 12/28/2017 20:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[indetail](
	[inid] [int] NOT NULL,
	[gid] [int] NULL,
	[inamt] [int] NULL,
	[month] [nvarchar](10) NULL,
 CONSTRAINT [PK_indetail] PRIMARY KEY CLUSTERED 
(
	[inid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[indetail] ([inid], [gid], [inamt], [month]) VALUES (1, 1, 20, N'2017年5月')
INSERT [dbo].[indetail] ([inid], [gid], [inamt], [month]) VALUES (2, 1, 50, N'2017年6月')
INSERT [dbo].[indetail] ([inid], [gid], [inamt], [month]) VALUES (3, 1, 70, N'2017年7月')
/****** Object:  ForeignKey [FK_indetail_goods]    Script Date: 12/28/2017 20:21:08 ******/
ALTER TABLE [dbo].[indetail]  WITH CHECK ADD  CONSTRAINT [FK_indetail_goods] FOREIGN KEY([gid])
REFERENCES [dbo].[goods] ([gid])
GO
ALTER TABLE [dbo].[indetail] CHECK CONSTRAINT [FK_indetail_goods]
GO
/****** Object:  ForeignKey [FK_outdetail_goods]    Script Date: 12/28/2017 20:21:08 ******/
ALTER TABLE [dbo].[outdetail]  WITH CHECK ADD  CONSTRAINT [FK_outdetail_goods] FOREIGN KEY([gid])
REFERENCES [dbo].[goods] ([gid])
GO
ALTER TABLE [dbo].[outdetail] CHECK CONSTRAINT [FK_outdetail_goods]
GO
